.form-horizontal .control-label{
    margin-top: 7px;
}
.btn-magrin{
    margin-left: -10px;
    margin-right: 10px;
}
.btn-magrin2{
    border-radius: 3px;
    border: 1px solid #dedede;
    background: #dedede;
    color: #fff;
    width: 10%;
}
.btn-magrin2:hover{
    background: #adadad;
    border: 1px solid #dedede;
}
.btn-magrin2 a{
    color: #fff;
}
.btn-magrin2:hover{
     color: #fff;   
}
.w10{
    width: 10%;
}
.w50{
    width: 50%;
}
.show-img{
    display: inline-block;
    overflow: hidden;
    width: auto;
    height: 100px;
}
.show-img img{
    object-fit: contain;
    width: 100px;
    height: 100px;
    padding: 0 10px;

}
.gallery{
    display: inline-block;
    overflow: hidden;
    width: auto;
    height: auto;
}

.gallery img{
    object-fit: contain;
    width: 100px;
    height: 100px;
    padding: 10px;
}