.form-horizontal .control-label{
    margin-top: 7px;
}
.btn-magrin{
    margin-left: -10px;
    margin-right: 10px;
}
.btn-magrin2{
    border-radius: 3px;
    border: 1px solid #dedede;
    background: #dedede;
    color: #fff;
    width: 10%;
}
.btn-magrin2:hover{
    background: #adadad;
    border: 1px solid #dedede;
}
.btn-magrin2 a{
    color: #fff;
}
.btn-magrin2:hover{
     color: #fff;   
}
.w10{
    width: 10%;
}
.w50{
    width: 50%;
}