.btn{
  border-radius: 3px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
   border-width: 0px;
}.btn-primary {
    color: #fff;
    background-color: #51aded;
    border-color: #3d8fd8
}.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active{
    color: #fff;
    background-color: #3175b8;
    border-color: #3d8fd8
}.btn-success{
   background-color:#2ecc71
}.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active{
  background-color:#27ae60
}.btn-warning{
  background-color: #e7c13e;
  border-color: #dfba3c;
}.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active{
  background-color:#d0ac2c;
  border-color: #dfba3c;
}.btn-danger{
  background-color: #ed5153
}.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active{
  background-color:#bb282a
}
#btn_add_product{
  text-transform: uppercase;
}
/*Phan tables*/
.table-striped tbody > tr:nth-of-type(2n){
  background: #f7f7f7;
}
.st_table .table{
  /*border:1px solid #E9ECEF;*/
  text-align: justify;
}
.thead_change_color{
  /*background: #f1f1f1;*/
  /*border:none;*/
}
.st_table .table > thead > tr > th{
  font-size: 12px;
  font-weight: bold;
}
.st_table .table tr td{
  font-size: 12px;
}
.reset_font{
  font-size: 14px;
}
.edit_icon{
  background: #68B3C8;
  border-radius:3px;
  color: #fff;
  text-align: center;
  display: inline-block;
  z-index: 999;
}
.del_icon{
  background: #D1383A;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  display: inline-block;
}
.btn-group i{
  /*margin-left: 1%;*/
  color: #fff;
}
.btn-group  i:hover,.btn-group  a:hover{
  color: #fff;
}
.title_of_manager_product{
  font-family: 'open sans';
}
.btn-group .glyphicon-edit{
  color: #fff;
}
.form-control{
  background: #F8F8F8;
  border: 1px solid #EFEFEF;
}
.btn-danger{
  color: #fff;
}