.about-body {
    font-family: Open Sans, sans-serif
}

.breadcrumb {
    background: none;
    font-weight: 400;
    padding-left: 0
}

.hr-under-title {
    border-top: 2px solid #DDDDDD
}

#about-content {
    font-size: 15px;
    background: #fff;
    padding: 1.5%;
    box-shadow: 1px 1px 1px 2px #ECECEC
}

.about-p-content {
    font-size: 15px;
    text-align: justify
}

.about-btn {
    padding: 4px 10px;
    font-weight: bold;
    font-size: 15px;
    color: #C2185B;
    background: none;
    border: 1px solid #C2185B
}

.about-btn:hover {
    color: #FFFFFF;
    background: #C2185B
}

.about-list {
    list-style-type: disc;
    padding-left: 5%;
    text-align: justify
}

.about-b {
    color: #C2185B;
    font-weight: 600
}

.about-b:hover {
    color: black;
}

.about-map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.about-map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    
    .about-p-content {
        font-size: 35px;
        line-height: 45px;
    }

    #about-content h4{
        font-size: 50px;
        padding: 10px 0;
    }

    .about-list {
        font-size: 35px;
        line-height: 45px;
    }
    .about-btn {
        font-size: 35px;
        margin: 10px;
    }
    
}
