.alert-babyproject {
            padding: 10px 10px;
            font-size: 20px;
            white-space: nowrap;
            margin: 0 auto;
            color: #fff;
            background-color: #FF3E8D;;
            border: 1px #5D4037 solid;
            box-shadow: 0 4px 10px rgba(0, 0, 0, .9);
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 10px;
            display: none;
            z-index: 9999999;
        }