/*Mid*/

.cart-center {
    border-bottom: 1px solid #e9ecef;
}

.mobile-cart {
    display: none;
}

.cart-title {
    background-color: aliceblue;
    margin-bottom: 20px;
}

.cart-content {
    max-height: 400px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

.cart-item {
    margin-bottom: 20px;
    padding: 0px 0;
}

.cart-product {
    /*    text-align: center;*/
}

.cart-div-img {
    overflow: hidden;
}

.cart-img {
    object-fit: contain;
    width: 100%;
}

.cart-item a {
    text-decoration: none;
    color: black;
}

.change-color {
    margin: 10px 0;
    width: auto;
}

/*Change color*/

.modalcart .color-dropdown {
    position: relative;
}

.modalcart ._select_color {
    font-size: 18px;
    padding: 0.3rem .75rem;
    font-weight: 300;
    line-height: 25px;
    border-radius: 4px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    height: auto;
    width: inherit;
    box-shadow: none;
    text-align: left;
    background-image: none;
    color: #796652;
    background: white;
    cursor: pointer;
    vertical-align: middle;
}

.modalcart ._select_color_drop {
    margin: 0;
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    top: 99%;
    border-top: 0;
    border: 1px solid #ccc;
    width: 100%;
    position: absolute;
    transform: translate3d(0px, 41px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    display: none;
    z-index: 1000;
    background: #fff;
}

.modalcart ._select_color_drop > li {
    display: inline-block;
    padding: 7px;
    border-right: 1px solid rgba(192, 192, 192, 0.55);
    cursor: pointer;
    float: left;
}

.modalcart ._select_color_drop > li > .color,
.btn > span.color {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    float: left;
}

.modalcart .btn > span.color {
    margin: 0 5px 5px 0;
}

/*End change color*/

/*Change qty*/

.cart-input-qty {
    position: relative;
}

.cart-input-qty input {
    width: 100%;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-color: #fff !important;
}

.cart-input-qty i {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 15px;
    transform: rotate(315deg);
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 0;
    background: 0;
}

.change-qty {
    display: none;
    position: absolute;
    width: 100%;
    padding: 10px;
    background: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #E0E0E0;
    min-width: 150px;
    z-index: 10;
    border-radius: 5px;
}

.input-change-qty {
    /*    width: 50%;*/
    /*    text-align: center;*/
    /*    overflow: hidden;*/
}

.input-group-btn button {
    cursor: pointer;
}

.div-confirm-change-qty {
    text-align: center;
    margin-top: 10px;
}

.div-confirm-change-qty button {
    background: none;
    border: 1px solid #ccc;
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;
    min-width: 40px;
    /*    height: 40px;*/
}

.confirm-change-qty {
    color: #00E676;
}

.cancle-change-qty {
    color: red;
}

.cart-item-delete {
    color: #9E9E9E !important;
}

/*End change qty*/

/*End mid*/

/*Bot*/

.cart-order {
    margin-bottom: 20px;
    margin-top: 20px;
}

.cart-total-price {
    margin-bottom: 20px;
}

.total-price {
    text-align: right;
}

.btn-order {
    width: 100%;
    border-radius: 5px;
    background: #1E88E5;
    border: 1px solid #1E88E5;
    color: #fff;
    cursor: pointer;
    height: 30px;
    padding: 5px 0;
    /*        line-height: 30px;*/
    text-transform: uppercase;
}

/*End bot*/

/*responsive*/

@media (max-width: 768px) {
    .desktop-cart {
        display: none;
    }

    .mobile-cart {
        display: block;
    }

    .cart-title {
        display: none;
    }

    .cart-product {
        text-align: left;
    }

    .cart-div-img {
        margin: 0 auto;
    }

    .mobile-cart-info {
        margin-top: 15px;
    }

    .cart-qty {
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
    }

    .cart-input-qty {
        width: 50%;
        height: 30px;
    }

    .mobile-cart label {
        height: 30px;
        line-height: 30px;
        text-decoration-line: none;
    }

    .change-color {
        margin: 0;
    }

    .total-price {
        text-align: left;
    }
}
