::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
}

.modal-dialog-feed-back {
    min-height: 450px;
    height: auto !important;
}

.modal-content-feed-back {
    /*    min-height: 450px;*/
    height: auto !important;
}



/*MODAL HEADER*/

.rate-feed-back {
    display: block;
    margin: 0 auto;
}

.rate-feed-back .success-box {
    padding: 10px 5px 0 0;
    border: 1px solid #fff;
    text-align: left;
    /*    width: 20%;*/
}

.rate-feed-back .success-box img {
    margin-right: 10px;
    display: inline-block;
}

.rate-feed-back .img-feed-back {
    width: 32px;
    height: 32px;
}

.rate-feed-back .success-box .text-message {
    display: inline-block;
    color: black;
}

.rate-feed-back .rating-stars {
    padding: 10px 5px 0 0;
    vertical-align: middle;
}

.rate-feed-back .rating-stars ul {
    list-style-type: none;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.rate-feed-back .rating-stars ul > li.star {
    display: inline-block;

}

.rate-feed-back .rating-stars ul > li.star > i.fa {
    font-size: 32px;
    color: #ccc;
}

.rate-feed-back .rating-stars ul > li.star.hover > i.fa {
    color: #FFCC36;
}

.rate-feed-back .rating-stars ul > li.star.selected > i.fa {
    color: #FF912C;
}



/*MODAL BODY*/

.modal-body-feed-back {
    height: auto;
    /*    display: table-cell;*/
}

.cmt-feed-back {
    /*    min-height: 200px;*/
}

.content-feed-back {
    text-align: justify;
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-size: 16px;
}

.gender-feedback {
    display: block;
    position: relative;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gender-feedback input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.gender-feedback label {
    cursor: pointer;
    margin-right: 5px;
}

.info-feedback label,
.info-feedback input {
    margin: 5px 0;
    height: 30px;
    font-size: 16px;
}

.info-feedback label {
    padding-top: 5px;
    /*    text-align: right;*/
}

.info-feedback input {
    border-radius: 5px;
    border: 1px solid black;
    padding: 0 5px;
}

.info-feedback textarea {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    overflow-y: hidden;
}


/*MODAL FOOTER*/

.btn-feed-back {
    display: block;
    margin: 0 auto;
    width: 30%;
}

.send-fb {
    width: 100%;
    font: 32px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background: #fff;
    transition: all 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .9);
    color: black;
    cursor: pointer;
}

.send-fb:hover {
    color: #fff;
    background: black;
    transition: all 0.3s;
    transform: translateY(-4px);
}

@media (min-width: 1024px) {
    #feedback .modal-dialog {
        max-width: 35% !important;
        margin: 30px auto;
    }
}


.btn-cancle-feed-back {
    position: absolute;
    width: 30%;
}
