.search-form input[type="text"] {
    height: 30px;
    width: 30px;
    display: inline-block;
    font-weight: 500;
    outline: none;
    border: none;
    color: black;
    padding: 0px;
    padding-right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
    margin-top: 3px;
        /*border: 1px solid red;*/
}

.search-form input[type="text"]:focus:hover {
    border-bottom: 1px solid #BBB;
}

.search-form input[type="text"]:focus {
    width: 55%;
    height: 100%;
    top: 50%;
    z-index: 1;
    font-size: 16px;
    margin-right: 40px;
    border-bottom: 1px solid #BBB;
    cursor: text;
    background: white;
    margin-top: -1px;
}

.search-form input[type="submit"] {
    height: 30px;
    width: 30px;
    display: inline-block;
    background: url(https://png.icons8.com/android/24/000000/search.png) no-repeat;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    z-index: 2;
    cursor: pointer;
    margin-top: 3px;
    /*    transition: opacity .4s ease;*/
        /*border: 1px solid black;*/
}

.search-form input[type="submit"]:hover {
    opacity: 1;
    color: black;

}

.shop-cart {
    display: inline-block;
    font-size: 30px;
    cursor: pointer;

}

.shop-cart:hover {
    color: black;
}

.div-shop-cart {
    /*        border: 1px solid black;*/
    position: absolute;
    /*height: 30px;*/
    width: 30px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    text-align: center;
}

.slider-index .carousel-item img{
    margin: 0 auto;
    display: block;
    /*width: 60%;*/
}
#number-cart {
    position: absolute;
    top: -5px;
    right: -10px;
    color: white;
    background: #FF3E8D;
    border: 1px solid #FF3E8D;
    border-radius: 100%;
    padding: 0 5px;
    font-size: 13px;
    font-weight: 600;
}

/*Responsive*/

@media (max-width: 991px) and (min-width: 768px) {
    .search-form input[type="text"] {
        width: 50%;
        height: 100px;
        top: 70px;
        right: 105px;
        padding-right: 120px;
        margin-top: 10px;
    }

    .search-form input[type="text"]:focus {
        width: 250%;
        /*top: 73px;*/
        font-size: 40px;
        height: 100%;
        
    }

    .search-form input[type="submit"] {
        height: 100px;
        width: 50%;
        background: url(https://png.icons8.com/android/90/000000/search.png) no-repeat;
        background-color: white;
        /*top: 70px;*/
        right: 105px;
        margin-top: 10px;
    }

    .div-shop-cart{
        width: 50%;
    }

    .shop-cart {
        position: relative;
        display: inline-block;
        /*top: -25px;*/
        /*right: 5px;*/
        font-size: 100px;
    }
    #number-cart{
        text-align: center;
        width: 45px;
        height: 45px;
        font-size: 30px !important;
        top: -20px !important;
        right: -5px !important;
    }
    #number-cart span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

@media (max-width: 767px) and (min-width: 425px) {
    .search-form input[type="text"] {
        font-size: 18px;
    }
    .search-form input[type="text"]:focus {
        width: 60%;
    }
    .shop-cart {
        top: -10px;
    }
}

@media (max-width: 424px) {
    .search-form input[type="text"] {
        font-size: 16px;
    }
    .search-form input[type="text"]:focus {
        width: 55%;
    }
}