#pp-content {
    font-size: 15px;
    background: #fff;
    padding: 1.5%;
    box-shadow: 1px 1px 1px 2px #ECECEC
}

.breadcrumb {
    background: none;
    font-weight: 400;
    padding-left: 0
}

.hr-under-title {
    border-top: 2px solid #DDDDDD
}

.tou-head {
    font-size: 25px;
    font-weight: 400;
    color: black
}

.tou-p-content {
    font-size: 15px;
    text-align: justify
}

.tou-list {
    list-style-type: disc;
    padding-left: 5%;
    text-align: justify
}

.tou-b {
    color: #C2185B;
    font-weight: 600
}

.tou-b:hover {
    color: black
}
@media (max-width: 991px) and (min-width: 768px) {
    .tou-p-content {
        font-size: 35px;
        line-height: 45px;
    }
    #pp-content h4{
        font-size: 50px;
        padding: 10px 0;
    }
    .tou-head{
        font-size: 45px;
        line-height: 50px;
        padding: 10px 0;
    }

    .tou-list {
        font-size: 35px;
        line-height: 45px;
    }
    .tou-btn {
        font-size: 35px;
        margin: 10px;
    }
}
@media (max-width: 767px){
    .tou-p-content {
        font-size: 23px;
        line-height: 35px;
    }
    .tou-head{
        font-size: 25px;
        line-height: 35px;
        padding: 10px 0;
    }
    .tou-list {
        font-size: 23px;
        line-height: 35px;
    }
}